$color-first: #262626;
$color-second: #B2B2B2;
$color-footer: #ccc;
$height-section: 100vh;
$color-firstscreen: #E7F066;
$color-candlesscreen: #9C8554;
$color-aboutus: #EBEBEB;
$color-modern: #A26779;
$color-handwash: #504B4D;
$color-industry: #B04836;
$color-footer-bg: #262626;
$color-link-menu-hov: #a72e45;
$max-width: 900px;

@mixin style-promo{
    font-size: 1.5625rem;
    margin: 2.5rem 2.5rem 2.5rem 0rem;
}

@mixin style-title{
    margin: 2.5rem 2.5rem 0rem 2.5rem;
    font-size: 0.9375rem;
    text-transform: uppercase;
}

@mixin style-text{
    margin: 0rem 2.5rem 2.5rem 2.5rem;
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0.0313rem;
}

@mixin style-link{
    font-size: 0.875rem;
    text-transform: uppercase;
}

@mixin style-input{
    background-color: transparent;
    border-bottom: 1px solid $color-footer;
    margin-bottom: 0.5rem;
    color: $color-footer;
    font-size: 1.1875rem;
}

@mixin link-menu-hovb{
    content: '';
    height: 1px;
    background-color: $color-link-menu-hov;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width .3s;
    width: 0;
}

@keyframes wave {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1.5); /* Немного "перекатываем" волну */
    }
    100% {
        transform: scaleX(1);
    }
}